<style>
    .txt-color {
        color: #ffffff;
    }
</style>

<ion-view view-title="Feed" ng-if="feeds.length >0">
    <ion-content class="animate-fade-slide-in">
        <div class="item card-item" ng-repeat="feed in feeds" style="height: 33%">
            <div ui-sref="app.feeddetail({'id':feed.jwplayertalkid})" class="card stable-bg ink ink-dark" style=" background: #ffffff url({{feed.mediathumbnail.url|replaceDash}}) no-repeat right top;height: 100%">
                <div class="item item-avatar item-text-wrap" style="padding-left: 5%;">
                    <span class="avatar"></span>
                    <strong class="txt-color" style="font-size: 26px;">{{feed.itunesauthor}}</strong>
                    <div class="row txt-color" style="font-size: 16px;">
                        {{feed.itunessubtitle}}
                    </div>
                    <div class="card-footer text-right txt-color" style="padding-top: 27% !important;">
                        {{feed.itunesduration|timeFilter}}
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>