<ion-view view-title="Feed Detail">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="list half" style="width: 100% !important;">
            <i class="fa fa-arrow-left" aria-hidden="true" ui-sref="app.feeds"></i>
            <div class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <!--<img class="full-image" ng-src="{{itemObj.mediathumbnail.url|replaceDash}}"> {{itemObj.mediacontent.url|replaceDash}}-->
                    <video class="full-image" controls>
                        <source ng-src="{{trustSrc(itemObj.mediacontent.url)}}" type="video/mp4">
                    </video>
                </div>
            </div>
            <span>{{itemObj.itunesauthor}}</span>
            <h2 style="font-weight: bold;">{{itemObj.itunessubtitle}}</h2>
        </div>

    </ion-content>
</ion-view>